body {
    width: fit-content;
    margin-right: 10px;
}

#symbol {
    text-align: right;
}

#body {
    display: flex;
    border-top: 2px solid rgb(230, 170, 6);
}

#body #menu {
    width: 20%;
    background-image: url(../image/back.jpg);
    background-size: 100% 20%;
    background-repeat: repeat-y;
}

#body #menu ul {
    padding-left: 0px;
    padding-right: 100px;
    margin-top: 0px;
}

#body #menu li {
    width: 100%;
    list-style: none;
    color: purple;
    padding-bottom: 7px;
    padding-right: 10px;
    border-bottom: 2px dashed rgb(230, 170, 6);
    margin: 7px;
    font-size: 20px;
}

#body #content {
    display: inline-block;
    margin-left: 10px;
    width: 80%;
    border: 1px solid red;
}

#body #content .title {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

#body #content p {
    color: palevioletred;
    font-size: 20px;
}

#body #content .box {
    float: right;
    color: brown;
    border-top: 5px solid rgb(247, 172, 33);
    border-left: 5px solid rgb(247, 172, 33);
    border-right: 5px solid rgb(129, 96, 3);
    border-bottom: 5px solid rgb(129, 96, 3);
    margin-left: 5px;
}

#body #content #address {
    vertical-align: bottom;
    border: 1px solid red;
}